<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>E-Commerce</title>
  <!-- Puedes agregar aquí tus enlaces a hojas de estilo, scripts, etc. -->
</head>

<body>

  <!-- Barra de navegación -->
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <!-- Puedes agregar más enlaces de navegación según tus necesidades -->
    </ul>
  </nav>

  <!-- Contenedor principal para el contenido de cada página -->
  <div id="content">
    {{{body}}} <!-- Aquí se insertará el contenido específico de cada página -->
  </div>

  <!-- Pie de página -->
  <footer>
    <!-- Contenido del pie de página -->
  </footer>

</body>

</html>